*{
  box-sizing: border-box;
  margin: 0px;
}

@font-face {
    font-family: Montserrat_Bold;
    src: url(Resources/Fuentes/Montserrat-Bold.ttf);
}

.menu a{
  font-family: Montserrat_Bold;
  font-size: 20px;
  background-color: #515bb8;
  color: white;
  text-decoration: none;
  float: left;
  width: 16.6%;
  height: 70px;
  text-align: center;
  padding: 20px;
}
.menu a:hover{
  background-color: #2C315D;
}

@font-face {
  font-family: Glacial_Indifference_Regular;
  src: url(Resources/Fuentes/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: Glacial_Indifference_Bold;
  src: url(Resources/Fuentes/GlacialIndifference-Bold.otf);
}
body{
  position: relative;
  padding-bottom: 10em;
}
.rectangulo_footer{
  position: absolute;
  bottom: 0;
  background-color: #515bb8;
  width: 100%;
  height: 70px;
}
.icono_facebook{
  position: absolute;
  left: 20%;
  top:20px;
}
.icono_facebook:hover{
  color: #000000;
}
.icono_twitter{
  position: absolute;
  left: 40%;
  top:20px;
}
.icono_youtube{
  position: absolute;
  left: 60%;
  top:20px;
}
.icono_instagram{
  position: absolute;
  left: 80%;
  top:20px;
}
.titulo_QS{
  font-family: Montserrat_Bold;
  font-size: 50px;
  position:relative;
  text-align:center;
  top: 50px;
}
.texto_QS{
/*  font-family: Glacial_Indifference_Regular;
  font-size: 20px;
  text-align: justify;
  position: relative;

  width: 700px;
  top: 100px;
  left: 25%;*/
  font-family: Glacial_Indifference_Regular;
  font-size: 20px;
  position: relative;
  text-align: justify;

  margin-top: 150px;
  margin-left: 170px;
  margin-right: 170px;


}



/*Integrantes del equipo*/
h2{
  font-family: Montserrat_Bold;
  text-align: center;
  font-size: 40px;
  color: black;
  margin-top: 300px;
  font-weight: 400;
}
.InfoInteg{
  text-align: center;
  font-size: 18px;
  font-family: Glacial_Indifference_Regular;
  margin:auto;
  display:-webkit-inline-flex;
}
.InfoInteg .foto{
  width: 330px;
  height: 410px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color: white;
}
.InfoInteg .foto:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.InfoInteg .foto img{
  width: 350px;
  height: 290px;
}
.InfoInteg .foto p2{
  font-weight: 700;
}
hr {
  width: 400px;
  margin: auto;
  margin-top: 8px;
  height: 2px;
  background-color: #515bb8;
  border: 0;
  margin-bottom: 60px;
}
